@page "/Deployments"

<h2>
    Deployments
</h2>

<br />

<BSRow>
    <MemoryProvider PageSize="40" TableItem="V1Deployment" Items="Items">
        <Table TableItem="V1Deployment">
            <Column Title="ApiVersion" TableItem="V1Deployment" Property="@(x => x.ApiVersion)" Sortable="true">
                <Template>
                    @context.Metadata.Name
                </Template>
            </Column>
            <Column Title="Kind" TableItem="V1Deployment" Property="@(x => x.Kind)" Sortable="true">
                <Template>
                    @context.Kind
                </Template>
            </Column>
        </Table>
        <Pager TableItem="V1Deployment" />
    </MemoryProvider>
</BSRow>

@code {
    [Parameter] public IList<V1Deployment> Items { get; set; } = new List<V1Deployment>();

    [Inject] protected IState state { get; set; }

    [Inject] protected IKubernetes client { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Items = (await client.ListNamespacedDeploymentAsync(state.Namespace))?.Items;

        StateHasChanged();
    }
}
