<h2>
    <a href="/@Namespace/Pods">Pods</a> / @Item?.Metadata.Name
</h2>

<br />
@if (Item != null)
{
    <BSTabGroup>
        <BSTabList>
            <BSTab InitialSelection="true">
                <BSTabLabel>Yaml</BSTabLabel>
                <BSTabContent><pre><code id="yamlViewer" class="language-yaml">@k8s.Yaml.SaveToString(Item)</code></pre></BSTabContent>
            </BSTab>

            <BSTab>
                <BSTabLabel>Overview</BSTabLabel>
                <BSTabContent><KubeUI2.Components.Dynamic.UI Item="@Item" /></BSTabContent>
            </BSTab>

            <BSTab>
                <BSTabLabel>Logs</BSTabLabel>
                <BSTabContent>
                    <PodLogs Name="@Name" Namespace="@Namespace" />
                </BSTabContent>
            </BSTab>
        </BSTabList>
        <BSTabSelectedContent />
    </BSTabGroup>
}