@page "/{Namespace}/Pod/{Name}"
@inherits Base
@implements IDisposable

<h2>
    <a href="/@Namespace/Pods">Pods</a> / @Item?.Metadata.Name
</h2>

<br />
@if (Item != null)
{
    <BSTabGroup>
        <BSTabList>
            <BSTab>
                <BSTabLabel>Yaml</BSTabLabel>
                <BSTabContent><pre><code id="yamlViewer" class="language-yaml">@k8s.Yaml.SaveToString(Item)</code></pre></BSTabContent>
            </BSTab>

            <BSTab>
                <BSTabLabel>Overview</BSTabLabel>
                <BSTabContent><KubeUI2.Components.Dynamic.UI Item="@Item" /></BSTabContent>
            </BSTab>
        </BSTabList>
        <BSTabSelectedContent />
    </BSTabGroup>
}

@code {
    [Parameter] public string Name { get; set; }

    [Inject] protected IState state { get; set; }

    [Inject] protected IKubernetes client { get; set; }

    private V1Pod Item { get; set; }

    PropertyChangedEventHandler handler;

    protected override async Task OnInitializedAsync()
    {
        handler = async (xo, e) =>
        {
            if (e.PropertyName == State.UILevelNotification || e.PropertyName == State.NamespaceNotification)
            {
                await Update();
            }
        };

        state.PropertyChanged += handler;

        await Update();
    }

    public void Dispose()
    {
        state.PropertyChanged -= handler;
    }

    private async Task Update()
    {
        Item = await client.ReadNamespacedPodAsync(Name, Namespace);

        StateHasChanged();
    }
}
