@namespace KubeUI2.Components.Types
<h2>
    <a href="/@Namespace/PersistentVolumeClaims">Persistent Volume Claims</a> / @Name
</h2>

<br />
@if (Item != null)
{
    <BSTabGroup>
        <BSTabList>
            <BSTab>
                <BSTabLabel>Overview</BSTabLabel>
                <BSTabContent>
                    <br />
                    <h4>Persistent Volumes</h4>
                    <PersistentVolumeList Filter="@(x => x.Spec.ClaimRef.Uid.Equals(Item.Metadata.Uid))" />
                </BSTabContent>
            </BSTab>

            <BSTab>
                <BSTabLabel>Yaml</BSTabLabel>
                <BSTabContent><pre><code id="yamlViewer" class="language-yaml">@k8s.Yaml.SaveToString(Item)</code></pre></BSTabContent>
            </BSTab>

            <BSTab>
                <BSTabLabel>UI</BSTabLabel>
                <BSTabContent><KubeUI2.Components.Dynamic.UI Item="@Item" /></BSTabContent>
            </BSTab>
        </BSTabList>
        <BSTabSelectedContent />
    </BSTabGroup>
}