@page "/"

<h2>Welcome to KubeUI!</h2>
<br />
This is an experimental user interface for creating Kubernetes configurations.
<br />
<br />
Contact: <a href="mailto:admin@KubeUI.com">admin@KubeUI.com</a>

<br />
<br />
<BSRow>
    <BSCol SM="12" LG="6" XL="4">
        <BSCard>
            <BSCard CardType="CardType.Header" HeadingSize="HeadingSize.H5">
                Features
            </BSCard>
            <BSCard CardType="CardType.Body">
                <ul>
                    <li>Import/Export of Yaml/Json</li>
                    <li>Auto Saving to Browsers Local Storage</li>
                    <li>
                        Configuration of
                        <ul>
                            <li>Config Maps</li>
                            <li>Cron Jobs</li>
                            <li>Daemon Sets</li>
                            <li>Deployments</li>
                            <li>Ingress</li>
                            <li>Persistent Volume Claims</li>
                            <li>Secrets</li>
                            <li>Services</li>
                            <li>Stateful Sets</li>
                        </ul>
                    </li>
                </ul>
            </BSCard>
        </BSCard>
    </BSCol>

    <BSCol SM="12" LG="6" XL="4">
        <BSCard>
            <BSCard CardType="CardType.Header" HeadingSize="HeadingSize.H5">
                Todo
            </BSCard>
            <BSCard CardType="CardType.Body">
                <ul>
                    <li>Create Validations</li>
                    <li>Collapsible Menu</li>
                </ul>
            </BSCard>
        </BSCard>
    </BSCol>
</BSRow>