@page "/"

<h2>Welcome to KubeUI!</h2>
<br />
This is an experimental user interface for creating Kubernetes configurations.
<br />
<br />
Contact: <a href="mailto:admin@KubeUI.com">admin@KubeUI.com</a>

<br />
<br />
<Row>
    <div class="col-sm-12 col-lg-6 col-xl-4">
        <Card>
            <Card CardType="CardType.Header" HeadingSize="HeadingSize.H5">
                Features
            </Card>
            <Card CardType="CardType.Body">
                <ul>
                    <li>Import/Export of Yaml/Json</li>
                    <li>Auto Saving to Browsers Local Storage</li>
                    <li>
                        Configuration of
                        <ul>
                            <li>Config Maps</li>
                            <li>Cron Jobs</li>
                            <li>Daemon Sets</li>
                            <li>Deployments</li>
                            <li>Ingress</li>
                            <li>Persistent Volume Claims</li>
                            <li>Secrets</li>
                            <li>Services</li>
                            <li>Stateful Sets</li>
                        </ul>
                    </li>
                </ul>
            </Card>
        </Card>
    </div>

    <div class="col-sm-12 col-lg-6 col-xl-4">
        <Card>
            <Card CardType="CardType.Header" HeadingSize="HeadingSize.H5">
                Todo
            </Card>
            <Card CardType="CardType.Body">
                <ul>
                    <li>Create Validations</li>
                    <li>Collapsible Menu</li>
                </ul>
            </Card>
        </Card>
    </div>
</Row>