@namespace KubeUI.Core.Components.Types

<h2>
    <img src="_content/KubeUI.Core/png/resources/unlabeled/sts-128.png" width="32"> Stateful Sets
</h2>

<br />

<StatefulSetList Namespace="@Namespace" />