@using System.Linq.Expressions
@using System.Text.RegularExpressions

@typeparam TItem where TItem : class, IKubernetesObject<V1ObjectMeta>, new()
@inherits ListBase<TItem>

<ListComponent TItem="TItem"
    MultiSelection="MultiSelection"
    @bind-SelectedItems="SelectedItems"
    Query="Query"
    Title="@Title"
    HideNew="HideNew"
    HideNamespaceSelector="HideNamespaceSelector">
    @if (HideName == false)
    {
        <ColumnComponent TItem="TItem" Name="Name" Object="(x => x.Metadata.Name)" Sort="SortDirection.Ascending" Width="100%">
            <DisplayContent>
                <div style="white-space: nowrap;">
                    <Link TItem="TItem" Object="@context.Item1" />
                </div>
            </DisplayContent>
        </ColumnComponent>
    }

    @if (HideNamespace == false)
    {
        <ColumnComponent TItem="TItem" Name="Namespace" Object="(x => x.Metadata.NamespaceProperty)" Width="10%"/>
    }

    @if (Columns != null)
    {
        @Columns
    }
    else if (typeof(TItem).Namespace != typeof(V1Deployment).Namespace)
    {
        var kind = GroupApiVersionKind.From<TItem>();
        var crd = ClusterManager.GetActiveCluster().GetObject<V1CustomResourceDefinition>(null, kind.PluralNameGroup);
        var version = crd.Spec.Versions.Where(x => x.Storage).First();

        if (version.AdditionalPrinterColumns != null)
        {
            foreach (var item in version.AdditionalPrinterColumns)
            {
                if (item.JsonPath == ".metadata.creationTimestamp")
                {
                    continue;
                }

                var exp = JsonPathLINQ.JsonPathLINQ.GetExpression<TItem>(item.JsonPath, true);

                <ColumnComponent TItem="TItem" Name="@(item.Name)" Width="15%" Object="exp.Compile()">
                </ColumnComponent>
            }
        }
    }

    @if (HideAge == false)
    {
        <ColumnComponent TItem="TItem" Name="Age" Object="(x => x.Metadata.CreationTimestamp)" Width="5%">
            <DisplayContent>
                <Age TItem="TItem" Date="@context.Item1.Metadata.CreationTimestamp" />
            </DisplayContent>
        </ColumnComponent>
    }

    @if (HideActions == false)
    {
        <ColumnComponent TItem="TItem" Width="5%">
            <HeaderContent>
                <ColumnPicker TItem="TItem" />
            </HeaderContent>
            <DisplayContent>
                <Actions TItem="TItem" Item="context.Item1" SelectedItems="SelectedItems" />
            </DisplayContent>
        </ColumnComponent>
    }

</ListComponent>

@code {
    [Parameter]
    public RenderFragment Columns { get; set; }
}