@typeparam TableItem
@inherits DataProviderBase<TableItem>

    <CascadingValue Value="(IDataProvider<TableItem>)this" Name="DataProvider">
        <Table TableItem="TableItem">
            @ChildContent
        </Table>
    </CascadingValue>

@code {
    [Parameter] public override long PageSize { get; set; } = 30;

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public IEnumerable<TableItem> Items { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await Update();
    }

    public override IEnumerable<TableItem> GetData()
    {
        if (Items != null && SortColumn != null)
        {
            if (SortDescending)
            {
                return Items.AsQueryable().OrderByDescending(SortColumn.Property).ToList();
            }
            else
            {
                return Items.AsQueryable().OrderBy(SortColumn.Property).ToList();
            }
        }

        return Items;
    }
}