@namespace KubeUI2.Components.Types
<h2>
    <a href="/CustomResourceDefinitions">CustomResourceDefinitions</a> / @Item?.Metadata.Name
</h2>
@Name
<br />
@if (Item != null)
{
    <BSTabGroup>
        <BSTabList>
            <BSTab>
                <BSTabLabel>Yaml</BSTabLabel>
                <BSTabContent><pre><code id="yamlViewer" class="language-yaml">@k8s.Yaml.SaveToString(Item)</code></pre></BSTabContent>
            </BSTab>

            <BSTab>
                <BSTabLabel>Overview</BSTabLabel>
                <BSTabContent><KubeUI2.Components.Dynamic.UI Item="@Item" /></BSTabContent>
            </BSTab>
        </BSTabList>
        <BSTabSelectedContent />
    </BSTabGroup>
}