@namespace KubeUI.Core.Components.Types
    <h2>
        <img src="_content/KubeUI.Core/png/resources/unlabeled/crd-128.png" width="32"> <a href="/CustomResourceDefinitions">Custom Resource Definitions</a> / <a href="/CustomObjects/@(State.GetNamespaceUrl() + @Group)/@Version/@Plural">@Plural.@Group</a> / @Name

    </h2>

<br />
@if (Item != null)
{
    <BSTabGroup>
        <BSTabList>
            <BSTab>
                <BSTabLabel>Yaml</BSTabLabel>
                <BSTabContent><YamlViewer Yaml="@Utilities.ToYaml(Item)" /></BSTabContent>
            </BSTab>

            @*<BSTab>
                <BSTabLabel>UI</BSTabLabel>
                <BSTabContent><KubeUI.Core.Components.Dynamic.UI Item="@Item" /></BSTabContent>
            </BSTab>*@

        </BSTabList>
        <BSTabSelectedContent />
    </BSTabGroup>
}