@namespace KubeUI.Core.Components.Types
<h2>
    <img src="_content/KubeUI.Core/png/resources/unlabeled/pvc-128.png" width="32"> Persistent Volume Claims
</h2>

<br />

<PersistentVolumeClaimList Namespace="@Namespace" />