<select class="form-control form-control-sm" id="Namespace" @onchange="OnChange" title="Select Namespace" style="width: 200px">
    <option value="0000-0000-0000" selected="@(State.Namespace == null)">All</option>
    @foreach (var option in Items.Select(x => x.Metadata.Name).OrderBy(x => x))
    {
        <option value="@option" selected="@(option == State.Namespace)">@option</option>
    }        
</select>