@namespace KubeUI.Core.Components.Types

<h2>
    <img src="_content/KubeUI.Core/png/resources/unlabeled/crd-128.png" width="32"> Custom Resource Definitions
</h2>

<br />

<CustomResourceDefinitionList />