@using System.Text.RegularExpressions

@((MarkupString)CreateHyperlinks(HelpString))

@code {
    [Inject] protected IState State { get; set; }
    [Inject] protected ILogger<Help> Logger { get;set; }

    [Parameter] protected string HelpString { get; set; }

    protected override void OnInit()
    {
        State.PropertyChanged += (o, e) =>
        {
            if (e.PropertyName == "help")
            {
                StateHasChanged();
            }
        };
    }

    public void Dispose()
    {
        State.PropertyChanged -= (xo, e) =>
        {
            if (e.PropertyName == "help")
            {
                StateHasChanged();
            }
        };
    }

    /// <summary>
    /// Replaces urls with hyperlinks
    /// </summary>
    /// <param name="input"></param>
    /// <returns></returns>
    private string CreateHyperlinks(string input)
    {
        var matches = Regex.Matches(input, @"((https?):\/\/)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)");

        foreach (Match match in matches)
        {
            input = input.Replace(match.Value, $"<a href=\"{match.Value}\" target=\"_blank\">{match.Value}</a>");
        }

        return input;
    }
}
