@namespace KubeUI.Core.Components.Types

<h2>
    <img src="_content/KubeUI.Core/png/resources/unlabeled/deploy-128.png" width="32"> Deployments
</h2>

<br />

<DeploymentList Namespace="@Namespace" />