@namespace KubeUI.Core.Components.Types
    <h2>
        <img src="_content/KubeUI.Core/png/resources/unlabeled/pv-128.png" width="32"> <a href="/PersistentVolumes">Persistent Volumes</a> / @Name
    </h2>

<br />
@if (Item != null)
{
    <BSTabGroup>
        <BSTabList>
            <BSTab InitialSelection="true">
                <BSTabLabel>Stats</BSTabLabel>
                <BSTabContent>
                    <br />
                    <h4>Persistent Volume Claims</h4>
                    <PersistentVolumeClaimList Namespace="@Item.Metadata.NamespaceProperty" Filter="@(x => x.Metadata.Name.Equals(Item.Spec.ClaimRef.Name))" />
                </BSTabContent>
            </BSTab>

            <BSTab>
                <BSTabLabel>Yaml</BSTabLabel>
                <BSTabContent><YamlViewer Yaml="@k8s.Yaml.SaveToString(Item)" /></BSTabContent>
            </BSTab>

            <BSTab>
                <BSTabLabel>Overview</BSTabLabel>
                <BSTabContent><KubeUI.Core.Components.Dynamic.UI Item="@Item" /></BSTabContent>
            </BSTab>
        </BSTabList>
        <BSTabSelectedContent />
    </BSTabGroup>
}