@namespace KubeUI.Core.Components.Types
<h2>
    <a href="/@State.Namespace/ConfigMaps">Config Maps</a> / @Item?.Metadata.Name
</h2>

<br />
@if (Item != null)
{
    <BSTabGroup>
        <BSTabList>

            <BSTab>
                <BSTabLabel>Overview</BSTabLabel>
                <BSTabContent>

                </BSTabContent>
            </BSTab>

            <BSTab>
                <BSTabLabel>Yaml</BSTabLabel>
                <BSTabContent><pre><code id="yamlViewer" class="language-yaml">@k8s.Yaml.SaveToString(Item)</code></pre></BSTabContent>
            </BSTab>

            <BSTab>
                <BSTabLabel>UI</BSTabLabel>
                <BSTabContent><KubeUI.Core.Components.Dynamic.UI Item="@Item" /></BSTabContent>
            </BSTab>

        </BSTabList>
        <BSTabSelectedContent />
    </BSTabGroup>
}