@page "/about"

<h2>About</h2>
<br />
Created by: Ivan Josipovic
<br />
Contact: <a href="mailto:admin@KubeUI.com">admin@KubeUI.com</a>
<br />
Version: @(Assembly.GetEntryAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion.ToString())