@page "/"
<h2>Welcome to KubeUI!</h2>
<br />
This is an Experimental user interface for Kubernetes.
<br />
<br />
Contact: <a href="mailto:admin@KubeUI.com">admin@KubeUI.com</a>

<br />
<br />
@if (UpdateRequired)
{
    <BSAlert Color="Color.Danger">
        Update is available: <a href="https://github.com/IvanJosipovic/KubeUI/releases/latest">@GithubRelease.tag_name</a>
        <br />
        <br />
        @if (RuntimeInformation.IsOSPlatform(OSPlatform.Windows))
        {
            <BSButton ButtonType="ButtonType.Link" Href="@(GithubRelease?.assets.Where(x => x.name == "KubeUI-win-x64.zip").Select(x => x.browser_download_url).FirstOrDefault())">Win x64</BSButton>
        }
        else if (RuntimeInformation.IsOSPlatform(OSPlatform.OSX))
        {
            <BSButton ButtonType="ButtonType.Link" Href="@(GithubRelease?.assets.Where(x => x.name == "KubeUI-osx-x64.zip").Select(x => x.browser_download_url).FirstOrDefault())">Mac x64</BSButton>
        }
        else if (RuntimeInformation.IsOSPlatform(OSPlatform.Linux))
        {
            <BSButton ButtonType="ButtonType.Link" Href="@(GithubRelease?.assets.Where(x => x.name == "KubeUI-linux-x64.zip").Select(x => x.browser_download_url).FirstOrDefault())">Linux x64</BSButton>
        }
        else if (RuntimeInformation.IsOSPlatform(OSPlatform.Create("WEBASSEMBLY")))
        {
            <div>Refresh your browser or connect to the internet to update.</div>
        }   
    </BSAlert>
}