<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">

        @*@if(routeData.RouteValues["Namespace"] != null && routeData.RouteValues["Namespace"].ToString() != state.Namespace)
        {
            state.Namespace = routeData.RouteValues["Namespace"].ToString();
        }*@

        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    [Inject] protected IState state { get; set; }
}